.wrapper {
    width: 80vw;
    margin: auto;
    padding: 0 10px;

}

.list h4 {
    border-top: 1px solid black;
    width: 80vw;
    padding: 5px 0 5px 10px;
}

h2 {
    display: flex;
    justify-content: center;
}

